body{
	margin: 0px;
}

aside{
	float: left;
	height: 220px;
	width: 460px;
}
aside p{
	font-family: roboto;
	font-style: inherit;
	font-size: 20px;
	color: white;
	z-index: 1;
	position: relative;
	left: 150px;
	top: -260px;
}
#logo{
	z-index: 1;
	position: relative;
	top: -180px;
	left: 50px;
	width: 75px;
}
#nama1{
	position: relative;
	left: 20px;
	top: 100px;
	font-size: 30px;
	font-family: arial;
	color: #000F99;
}
#parag1{
	position: relative;
	left: 483px;
	top: 79px;
	font-size: 20px;
	font-family: arial;
}
#parag2{
	position: relative;
	left: 700px;
	top: -77px;
	font-size: 20px;
	font-family: arial;
}
#atas{
	position: relative;
	bottom: 10px;
	text-align: center;
	font-size: 40px;
	font-family: arial;
	color: #1F1F99;
}


#fotodekan{
	position: relative;
	top: 330px;
	right: 170px;
	width: 180px;
}
#nama2{
	position: relative;
	left: 20px;
	top: 100px;
	font-size: 30px;
	font-family: arial;
	color: #000F99;
}
